:root {
  --duration : 0.5s;
}

.callouts {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  pointer-events: none;
}

.callouts * {
  user-select: none;
  pointer-events: all;
}

.callouts .bordered {
  border: 1px solid black;
}

.callouts .css.content {
  counter-increment: callout-css;
}

.callouts .html.content {
  counter-increment: callout-html;
}

.callouts .content {
  border: 1px dashed black;
  background: white;
  padding: 2px 4px 2px 4px;
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: move;
  max-width: 300px;
  text-align: left;
  overflow-wrap: break-word;
}

.callouts::before,
.callouts .content {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.callouts .content::before {
  position: relative;
  top: -10px;
  left: -15px;
  width: 20px;
  height: 20px;
  text-align: center;
  background: white;
  border: 1px solid black;
  display: inline-block;
  margin-right: -13px;
}

.callouts .css.content::before {
  content: counter(callout-css);
  border-radius: 10px;
  background-color: lightgreen;
}

.callouts .html.content::before {
  content: counter(callout-html, lower-alpha);
  background-color: lightblue;
}

.connectors {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  pointer-events: none;
}

.select-an-element .callouts,
.select-an-element .connectors {
  pointer-events: none;
}

.callouts .ending {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  top: 0px;
  left: 0px;
  background: white;
  cursor: move;
}

.callouts .css.ending {
  border-radius: 5px;
}

.select-a-snap .connectors,
.select-a-snap .callouts,
.select-an-element .connectors,
.select-an-element .callouts,
html.hide-callouts .connectors,
html.hide-callouts .callouts {
  visibility: hidden;
}

.callouts .content .hover {
  position: absolute;
  top: -25px;
  right: 0;
  cursor: default;
}

.callouts .content .menu {
  visibility: hidden;
}

.callouts .hover:hover .menu,
.callouts .content:hover .menu {
  visibility: inherit;
}

.callouts .content .menu .button {
  width: 20px;
  height: 20px;
  margin-right: 2px;
}

.callouts .content .menu .button:last-child {
  margin-right: inherit;
}

.callouts .content .menu .button img {
  width: 100%;
}