
.callouts .editor.input {
  user-select: inherit;
  box-sizing: border-box;
  height: 0px;
  overflow-y: scroll;
  resize: both;
  display: inline-block;
  position: absolute;
  z-index: 1000;
  min-width: 300px;
}

.editing {
  cursor: inherit;
  z-index: 1000;
}

.hiding {
  cursor: inherit;
  z-index: 1000;
}

.annotated.hiding {
  position: relative;
}

.annotated.editing {
  position: relative;
  background-color: white;
}

.callouts .ending.editing,
.callouts .content.editing {
  cursor: inherit;
  position: inherit;
}

.callouts .editor.log {
  background: white;
  height: 200px;
  position: absolute;
  z-index: 1000;
  box-sizing: border-box;
}

html.page:not(.print) {
  width: 12.7in;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 
    2px 0px 3px rgb(199, 199, 199), 
    -2px 0px 3px rgb(199, 199, 199), 
    0px 2px 3px rgb(199, 199, 199), 
    0px -2px 3px rgb(199, 199, 199);
  border: 1px solid rgb(128, 128, 128);
  margin-top: 10px;
}

html.page:not(.print):before {
  position: absolute;
  display: block;
  transform: translateX(-50%) rotateZ(-90deg) translateX(-50%) translateY(-100%);
}

html.page[paper="letter"][orientation="portrait"]:not(.print):before {
  content: "Letter - Portrait";
}

 @page {
    size: 8.5in 11in;
    width: 8.5in;
    height: 11in;
    margin: 0;
}

 html.print {
  width: 12.7in; /* Why not 8.5in? */
  box-sizing: border-box;
  margin: 0;
}