:root {
  --button-height: 25px;
  --button-icon-size: 16px;
  --button-border: 1px solid rgb(187, 187, 187);
  --logo-height: 25px;
  --radius: 3px;
  --menu-spacing: 5px;
  --menu-border: 1px solid rgba(112, 112, 112, 0.5);
  --menu-background: rgb(187, 226, 217);
  --version-background: rgb(150, 150, 150);
}

.select-an-element .menu.action-bar {
  pointer-events: none;
}

.select-an-element .menu.action-bar:hover,
.select-an-element .menu.action-bar *:hover {
  box-shadow: initial;
}

.menu.action-bar .button:first-of-type {
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

.menu.action-bar .button + .button {
  border-left: var(--button-border);
}

.menu.action-bar .button:last-of-type {
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.menu.action-bar #logo {
  height: var(--logo-height);
  float: right;
  margin-right: var(--menu-spacing);
  margin-left: var(--menu-spacing);
  user-select: none;
  pointer-events: none;
}
.menu img {
  background-color: initial;
  border: initial;
  border-radius: initial;
}

.menu.action-bar .button img {
  width: var(--button-icon-size);
  height: var(--button-icon-size);
  margin-right: var(--menu-spacing);
  float: left;
  line-height: var(--button-height);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.menu .button.debug {
  background-color: rgba(255, 0, 0, 0.2);
}

.menu .button.debug:hover {
  background-color: rgba(255, 0, 0, 0.4);
}

.menu .button {
  cursor: pointer;
  user-select: none;
  text-align: center;
  display: inline-block;
}

.menu.action-bar .button {
  height: var(--button-height);
  border: var(--button-border);
  border-right: none;
  border-left: none;
  background-color: lightgrey;
  font-size: 0.6em;
  line-height: var(--button-height);
  font-size: 0.8em;
  padding-left: var(--menu-spacing);
  padding-right: var(--menu-spacing);
}

.menu.action-bar .button:last-child {
  margin-right: inherit;
}

.menu {
  z-index: 1000;
  user-select: none;
  font-family: initial;
}

.menu.action-bar {
  position: fixed;
  right: 10px;
  top: 10px;
  background-color: var(--menu-background);
  padding: var(--menu-spacing);
  border: var(--menu-border);
  border-radius: var(--radius);
  cursor: move;
  box-shadow: 1px 0px grey, 0px 1px black ;
}

.menu.action-bar.dragged {
  right: inherit;
}

.menu.action-bar .button:hover {
  background-color: grey;
}

.menu.action-bar .button:active {
  background-color: rgb(50, 50, 50);
}

.menu.action-bar .button.checked {
  background-color: rgb(60, 60, 60);
  color: white;
}

.menu.action-bar #version {
  position: absolute;
  top: -10px;
  right: 5px;
  background: var(--version-background);
  border: var(--menu-border);
  border-top: none;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
  color: white;
}

@media print {
  .menu {
    display: none;
  }
}

.select-a-snap .menu,
.select-an-element .menu {
  visibility: hidden;
}